body {
    height: 98vh;
    position: relative;
    background-color: rgb(177, 255, 232);
}

#gameboard {
    width: calc(100vh - (2 * 35px));
    height: calc(100vh - (2 * 35px));
    /* vertical centering */
    margin: 0 auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.box {
    border: 2px solid red;
    box-sizing: border-box;
    float: left;
}

.player {
    /* background: center no-repeat url('./images/player.png'); */
    background-color: khaki;
}
.player::before {
    content: '♘';
    font-size: 3em;
    line-height: 1.1em;
}

.pawn {
    /* background: center no-repeat url('./images/pawn.png'); */
    background-color: #efbbbb;
}
.pawn::before {
    /* content: '♙'; */
    content: '♟';
    font-size: 3em;
    line-height: 1.1em;
}

.collision {
    background: center no-repeat url('./images/collision.png');
}

#scoreboard {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 18%;
    height: 30%;
}
#score {
    position: relative;
}
#moves {
    position: relative;
}
#enemies {
    position: relative;
}
#highScore {
    position: relative;
}

#controls {
    position: absolute;
    top: 300px;
    left: 20px;
    margin: auto;
}
#upBtn {
    position: absolute;
    top: 0px;
    left: 60px;
    padding: 6px 8px;
}
#upRightBtn {
    position: absolute;
    top: 0px;
    left: 91px;
    padding: 5px 7px;
}
#rightBtn {
    position: absolute;
    top: 34px;
    left: 91px;
    padding: 4px 5px;
}
#downRightBtn {
    position: absolute;
    top: 63px;
    left: 91px;
    padding: 5px 7px;
}
#downBtn {
    position: absolute;
    top: 62px;
    left: 60px;
    padding: 6px 8px;
}
#downLeftBtn {
    position: absolute;
    top: 63px;
    left: 28px;
    padding: 5px 7px;
}
#leftBtn {
    position: absolute;
    top: 34px;
    left: 28px;
    padding: 4px 5px;
}
#upLeftBtn {
    position: absolute;
    top: 0px;
    left: 28px;
    padding: 5px 7px;
}
#centerBtn {
    position: absolute;
    top: 34px;
    left: 60px;
    padding: 3px 5px;
}
#resetBtn {
    position: absolute;
    top: 106px;
    left: 48px;
}

#specialPowers {
    position: relative;
    width: 170px;
    height: 100px;
    top: 130px;
    left: 0px;
}
#specialPowers button {
    /* padding: 0px; */
    border-radius: 20px;
    /* display: block; */
    width: 60px;
    height: 30px;
    outline: none;
}
#specialPowers button:enabled {
    background-color: crimson;
}
#specialPowers button:disabled {
    background-color: pink;
}

#options {
    position: relative;
    width: 170px;
    height: 200px;
    top: 150px;
    left: 0px;
}
